.proshows {
  min-height: 100vh;
  background: black;
  color: white;
  padding: 140px 80px;
  position: relative;
  overflow: hidden;
}

/* Giant background word */
.proshows-bg {
  position: absolute;
  font-size: 35vw;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(120, 0, 0, 0.4);
  white-space: nowrap;
  z-index: 0;
}

/* Header */
.proshows-header {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 120px;
}

.proshows-header h1 {
  font-size: 80px;
  letter-spacing: 10px;
}

.proshows-header span {
  color: red;
}

.proshows-header p {
  margin-top: 20px;
  letter-spacing: 6px;
  color: #aaa;
}

/* Posters */
.proshows-posters {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* Poster */
.poster {
  width: 240px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease;
}

.poster img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s;
}

.poster h2 {
  margin-top: 20px;
  letter-spacing: 4px;
  font-size: 18px;
}

.poster:hover img {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.poster:hover h2 {
  color: red;
}
