.proshows {
  min-height: 100vh;
  background: black;
  color: white;
  padding: 120px 100px;
}

/* Header */
.proshows-head {
  margin-bottom: 120px;
}

.proshows-head h1 {
  font-size: 120px;
  color: red;
  letter-spacing: 10px;
}

.proshows-head p {
  color: #777;
  letter-spacing: 5px;
}

/* Lineup */
.lineup {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

/* Artist row */
.artist-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left text */
.artist-text h2 {
  font-size: 80px;
  letter-spacing: 6px;
  transition: 0.3s;
}

.artist-text span {
  color: #888;
  letter-spacing: 4px;
}

/* Right image */
.artist-img {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.artist-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s;
}

/* Hover magic */
.artist-row:hover img {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.artist-row:hover h2 {
  color: red;
}
