.games {
  min-height: 100vh;
  background: radial-gradient(circle at top, #050018, #000);
  color: white;
  padding: 140px 80px;
  text-align: center;
}

/* Title */
.games-title {
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 100px;
}

.games-title span {
  color: #00ffff;
}

/* Grid */
.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Cards */
.game-card {
  background: rgba(0,255,255,0.05);
  border: 1px solid rgba(0,255,255,0.3);
  padding: 50px;
  transition: 0.4s;
  backdrop-filter: blur(10px);
}

.game-card:hover {
  transform: scale(1.05);
  border-color: #00ffff;
  box-shadow: 0 0 50px rgba(0,255,255,0.4);
}

.game-card h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.game-card p {
  color: #aaa;
  margin-bottom: 30px;
}

/* Button */
.game-card button {
  background: #00ffff;
  color: black;
  border: none;
  padding: 12px 28px;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
}
