html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #f4f2ec;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.page {
  min-height: 100vh;
  padding: 120px;
  font-size: 22px;
}

.page.dark {
  background: #111;
  color: white;
}

.page.light {
  background: #f4f2ec;
  color: black;
}

.page h1 {
  font-size: 80px;
  margin-bottom: 30px;
}
